.pop-new-card {

}
.pop-new-card__container {

}
.pop-new-card__block {

}
.pop-new-card__content {

}
.pop-new-card__ttl {

}
.pop-new-card__close {

}
.pop-new-card__close:hover {
  
}
.pop-new-card__wrap {

}
.pop-new-card__form {

}

.categories__themes {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.categories {
  margin-bottom: 20px;
}


